.Navbar{
  width:100%;
  height: 10vh;
  border-bottom: 5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.bigLogoImg, .bigLogo, .CartQuickView img, .CartQuickView{
  height: 100%;
}

a:hover .bigLogoImg{
  background-color: green;
}

.NavbarOptions .active{
  border-bottom: 6px solid green;
}

.NavbarOptions{
  width:40vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
}

.NavbarOptions span{
  display: inline-block;
  height: 100%;
  padding:5px;
}

.CartQuickView{
  position: relative;
  border: 5px solid black;
}

.CartQuickView:hover, .NavbarOptions span:hover{
  background-color: #F3E9E9;
  cursor: pointer;
}
.productCount{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color:red;
  border-radius: 50%;
  font-size: 1.0rem;
  color: white;
}

.Products{
  margin-top: 5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto; 
  grid-auto-rows: 1fr;
  column-gap: 10px;
  row-gap: 25px;  
  width: 100%;
  width: 50vw;
  margin-left:5vw;
}

.productImg{
  object-fit: contain;
  width: 100%;
  height: 65%;
  border-bottom: 2px solid black;
}

.Product{
  position: relative;
  border: 3px solid black;
}


.productInfo{
  padding: 2%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Product .name{
 font-weight: 500;
 font-size: 1.1rem;
 text-align:center;
}
.Product .stocked{
  text-align: right;
  font-size: 0.6rem;
}

.buyPriceCombo{
  display: flex;
  justify-content: space-between;
}

.price{
  color: red;
  padding:2px;
  font-size: 1.5rem;
}

.productInfo > *{
  margin-bottom: 25px;
}

.buyButton{
  border:0px ;
  background-color:white;
  cursor:pointer;
}

.buyButton img{
  width:100%;
}
.buyButton:hover img{
  width:102%;
}

.inCartElement{
  position: absolute;
  right: 0;
  width: 15%;
}

.OpenCart{
  position:absolute;
  right:0%;
  top:10vh;
  border:3px solid black;
  padding:1%;
  width:25vw;
  background-color: white;
  z-index:10;
}

.productInCart{
  width:100%;
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding:5px;
  border-bottom:1px dotted black;
}

.productInCart .name{
  width: 50%;
  font-weight:600;
}

.productInCart button{
  font-size:0.8rem;
  border-radius:50%;
}
.productInCart .amount{
  font-size:1.1rem;
  padding:4px;
}

.nic{
  width:30%;
  margin-left:35%;
}

.OpenCart .total{
  text-align:right;
  font-size:2rem;
  margin-top:30px;
}
.slidecontainer {
  width: 100%;
  text-align: center;
}

.slider {
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: black;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.gridContainer{
  display: flex;
}

.Sidebar{
  margin-top: 5vh;
  border: 4px solid black;
  width:15vw;
  padding: 1%;
  height: 100vh;
}
.filterLabel{
  font-weight: 600;
  margin-bottom: 15px;
}

.stockFilterContainer{
  text-align: center;
}